:root {
  --color-accent: oklch(0.72 0.16 352);
  color-scheme: light dark;
}

html {
  accent-color: var(--color-accent);
}

h1 {
    color: hotpink;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  text-align: left;
}

body { 
    /* Set line height to 1.5 times the font size 
        and use the OS's UI font as the website font
        */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    display: block;
    margin-inline: auto;
}

.home {
    text-align: center;
}

img {
    width: 100%;
    max-width: 700px;
    height: auto;
    display: block;
    margin-inline: auto;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
}

.projects h2 {
  margin: 0;
}

form {
  display: grid; 
  grid-template-columns: auto 1fr;      
  gap: 1em;            
}

form label {
  display: grid;   
  grid-template-columns: subgrid;    
  grid-column: 1 / -1;
}

form button {
  grid-column: 1 / -1;
}

.color-scheme {
  position: absolute;
  top: 4rem;
  right: 1rem;
}

h1.home, h1.projects, h1.contact {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

h2.home, h2.projects {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}


nav {
    display: flex;
    margin-bottom: 1em;
    border-bottom: 1px solid oklch(80% 3% 200 / 40%);
}

nav a {
    flex: 1;
    color: inherit;
    text-decoration: none;
    text-align: center;
    padding: 0.5em;
}

nav a.current {
    border-bottom: 0.4em solid oklch(80% 3% 200 / 40%);
    padding-bottom: 0.1em;
}

nav a:hover {
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: 0.1em;
}

.resume h1 {
  text-align: center;
  color: #333;
  margin-bottom: 0;
}

.resume h2 {
  text-transform: uppercase;
  margin-bottom: 0;
}

.resume h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.resume hr{
  margin-top: 0;
  border: none;
  border-top: 3px solid #333
}

.resume p {
  margin-top: 0;
  margin-bottom: 0;
}

.resume ul {
  margin-top: 0;
}

.resume h4 {
  text-align: center;
}
.resume time {
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
  text-align: right;
}

dl {
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr;
  }

dt {
  grid-row-start: 1;
}

dd {
  grid-row-start: 2;
}